@import "partials/0_reset";
@import "partials/1_mixins";
@import "partials/2_settings";
///////////////////////////////////
///****   some globals   ****///
///////////////////////////////////
* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

///images
img {
  width: 100%;
  vertical-align: bottom; //stops that annoying 2px gap at the btm of imgs
  height: auto;
}

.img-cont {
  max-width: 600px;
  margin: 2rem auto;
}

////////////////////////////////////////////////////////////////////////////
///****   typography     typography     typography     typography   ****///
///////////////////////////////////////////////////////////////////////////
/// sets the html global font size when your font-size is in REMS then it will change accordingly
html {
  font-size: 16px; // @media (min-width: $media-sml) {font-size:16px}
  @media (min-width: $media-med) {
    font-size: 20px;
  } // @media (min-width: $media-lrg) {font-size:18px}
  // @media (min-width: $media-lrg-xl) {font-size:19px}
}

body {
  font-family: "Raleway", sans-serif;
}

//specific fo h tags
@include h-tags {
  line-height: 1;
  margin-bottom: 1rem;
}

h1 {
  @include fontSize(44px);
}

h2 {
  @include fontSize(34px);
}

h3 {
  @include fontSize(22px);
  text-decoration: underline;
}

h4 {
  @include fontSize(20px);
}

h5 {
  @include fontSize(18px);
}

p {
  @include fontSize(16px);
  line-height: 1.4; // margin-bottom: 1rem;
}

small {
  @include fontSize(14px);
}

////****href ****/////
a,
a:link,
a:visited,
a:active {
  text-decoration: none;
  color: black;
  &:hover {
    color: orange;
  }
}

.container {
  position: relative;
  width: 95%;
  margin: auto;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

// REACT STYLE ---- REACT STYLE ---- REACT STYLE ----
header {
  margin: 1rem 0;
  padding: 1rem;
  background-color: rgb(192, 255, 251); // text-decoration: rgb(240, 16, 225) wavy underline;
  text-align: center;
}

.fp-nav {
  line-height: 1.4;
  margin-bottom: 2rem;
  border-bottom: 1px dotted grey;
  display: flex;
  justify-content: space-between;
  
  .pg-title{
    @include fontSize(34px);
  }

  .add-new{
    // border: 1px dotted grey;
    @include fontSize(24px);
    padding: .2rem;
    border-radius: 20px;
  }
}

.blog-cont {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.blog {
  margin-bottom: 2rem;
  @include media-sml {
    width: 48%;
  }
  @include media-lrg {
    width: 31%;
  }
  ;
}

.flex-row {
  display: flex
}